<%= simple_form_for(@tipo_de_linea) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :descripcion_linea %>
    <%= f.input :caracteristica %>
    <%= f.input :estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
