<nav class="navbar navbar-light bg-light my_nav">

      <a class="navbar-brand" href="#">
        Intercalco
      </a>

      <div class="form-inline">

        <a class="navbar-brand" href="#">
          <%= link_to 'Tintas', tintas_path, class:'navbar-brand' %>
        </a>
        <a class="navbar-brand" href="#">
          <%= link_to 'Linea de Tintas', tipos_de_lineas_path, class:'navbar-brand' %>
        </a>
        <a class="navbar-brand" href="#">
          <%= link_to 'Base Tintas', base_tintas_path, class:'navbar-brand' %>
        </a>
        <a class="navbar-brand" href="#">
          <%= link_to 'Mallas', mallas_path, class:'navbar-brand' %>
        </a>
        <a class="navbar-brand" href="#">
          <%= link_to 'Formulas', formula_tintas_path, class:'navbar-brand' %>
        </a>

      <div class="nav-item dropdown">

        <button class="btn btn-outline-danger my-2 my-sm-0 nav-link dropdown-toggle "  href="#" id="navbarDropdown"
        role="button" data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"type=""><span  ></span>Juan Fernando Villadiego</button>



        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>

        </div>
      </div>


      </div>
    </nav>
